#card_parent {
    margin: auto;
    margin-top: 30vh;
    height: 40vh;
    width: 50vw;
    position: relative;
    min-width: 270px;
    max-width: 550px;
    max-height 325px;
}

#change-color-card {
    padding: 5vmin;
    background-color: #333;
    color: #fff;
    font-size: 15pt;
}

.card {
    position: relative;
    box-sizing: border-box;
    transition: box-shadow 0.1s ease-in-out;
}

.card-hover:hover {
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
}

#color-switch {
    background-color: #fff;
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    max-width: 980px;
    max-height: 655px;
}

.color-switch-block {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
}

#red-switch {
    background-color: #f8173e;
}

#green-switch {
    background-color: #20603d;
}

#blue-switch {
    background-color: #005f9e;
}

#black-switch {
    background-color: black;
}

#white-switch {
    background-color: white;
}

#random-switch {
    background-image: url(../img/question_mark.svg);
    background-position: center;
    background-size: contain;
}

.my-link, .my-link:active, .my-link:visited {
    text-decoration: none;
    color: inherit;
}

.my-link:hover {
    color: inherit;
    text-decoration: underline;
}
